<ul>
    <li>
        <a href="/">Inicio</a>
    </li>
    <li>
        <a href="/crearProducto">Crear producto</a>
    </li>
    <li>
        <a href="/api/product">Ver lista de productos</a>
    </li>
</ul>